{{ define "main" }}
<div id="main_contents_wrap">
  <div id="main_contents" class="clearfix">

    <!-- パンくずナビ -->
    <ul id="bread_crumb" class="clearfix" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="home">
        <a itemprop="item" href="/"><span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1" />
      </li>
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="last">
        <span itemprop="name">{{ .Title }}</span>
        <meta itemprop="position" content="2" />
      </li>
    </ul>

    <div id="main_col">

      <article class="post">
        <div id="post_title">
          <div class="post_date">
            <span class="date">{{ .Date.Format "2" }}</span>
            <span class="month">{{ .Date.Format "Jan" }}</span>
          </div>
          <h2>{{ .Title }}</h2>
        </div>

        <!-- sns button top -->
        <div style="clear:both;">
          <div id="share_top2">
            <div class="sns">
              <ul class="type2 clearfix">
                <!--X（旧Twitter）ボタン-->
                <li class="x-twitter">
                  <a href="https://x.com/intent/post?text={{ .Title | urlquery }}&url={{ .Permalink | urlquery }}{{ if .Site.Params.social.x }}&via={{ .Site.Params.social.x }}{{ end }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=600');return false;">
                    <i class="fa-brands fa-x-twitter"></i><span class="ttl">Post</span><span class="share-count"></span>
                  </a>
                </li>
                <!--Facebookボタン-->
                <li class="facebook">
                  <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | urlquery }}&amp;t={{ .Title | urlquery }}" class="facebook-btn-icon-link" target="_blank" rel="nofollow">
                    <i class="fa-brands fa-facebook-f"></i><span class="ttl">Share</span><span class="share-count"></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /sns button top -->

        <div class="post_content">
          {{ .Content }}
        </div>

        <div id="post_meta">
          <ul id="meta">
            <li class="meta_author">{{ .Site.Title }}</li>
            <li class="meta_category">
              <a href="/blog/">Blog</a>
            </li>
          </ul>
        </div>
      </article>

    </div>

    <div id="side_col">
      <div class="side_widget clearfix tcdw_product_list_widget" id="tcdw_product_list_widget-4">
        <h3 class="side_headline"><span>作品一覧</span></h3>
        <ol class="product_post_list">
          {{ range first 5 (where .Site.RegularPages "Section" "product").ByDate.Reverse }}
          <li class="clearfix">
            <a class="image" href="{{ .Permalink }}">
              {{ if .Params.image }}
              <img src="{{ .Params.image }}" alt="{{ .Title }}" title="{{ .Title }}" />
              {{ end }}
            </a>
            <div class="info">
              <a class="title" href="{{ .Permalink }}">{{ .Title }}</a>
            </div>
          </li>
          {{ end }}
        </ol>
      </div>
    </div>

  </div>
</div>

<a id="return_top" href="#header">ページ上部へ戻る</a>
{{ end }}
