{{ define "main" }}
<div id="main_contents_wrap">
  <div id="main_contents" class="clearfix">

    <!-- パンくずナビ -->
    <ul id="bread_crumb" class="clearfix" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="home">
        <a itemprop="item" href="/"><span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1" />
      </li>
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="last">
        <span itemprop="name">{{ .Title }}</span>
        <meta itemprop="position" content="2" />
      </li>
    </ul>

    <div id="main_col">
      <h2 class="headline1"><span>{{ .Title }}</span></h2>

      {{ .Content }}

      <ol id="news_list" class="clearfix">
        {{ range (where .Site.RegularPages "Section" "news").ByDate.Reverse }}
        <li class="clearfix">
          <p class="date">{{ .Date.Format "2006/1/2" }}</p>
          <p class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></p>
        </li>
        {{ end }}
      </ol>

      <div class="page_navi clearfix">
        <p class="back"><a href="/">トップページに戻る</a></p>
      </div>
    </div>

    <div id="side_col">
      <div class="side_widget clearfix tcdw_product_list_widget" id="tcdw_product_list_widget-4">
        <h3 class="side_headline"><span>作品一覧</span></h3>
        <ol class="product_post_list">
          {{ range first 5 (where .Site.RegularPages "Section" "product").ByDate.Reverse }}
          <li class="clearfix">
            <a class="image" href="{{ .Permalink }}">
              {{ if .Params.image }}
              <img src="{{ .Params.image }}" alt="{{ .Title }}" title="{{ .Title }}" />
              {{ end }}
            </a>
            <div class="info">
              <a class="title" href="{{ .Permalink }}">{{ .Title }}</a>
            </div>
          </li>
          {{ end }}
        </ol>
      </div>
    </div>

  </div>
</div>
{{ end }}
