{{ define "main" }}
<div id="main_contents_wrap">
  <div id="main_contents" class="clearfix">

    <!-- パンくずナビ -->
    <ul id="bread_crumb" class="clearfix" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="home">
        <a itemprop="item" href="/"><span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1" />
      </li>
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="/news/"><span itemprop="name">お知らせ</span></a>
        <meta itemprop="position" content="2" />
      </li>
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="last">
        <span itemprop="name">{{ .Title }}</span>
        <meta itemprop="position" content="3" />
      </li>
    </ul>

    <div id="main_col">
      <h2 class="headline1"><span>お知らせ</span></h2>

      <!-- sns button top -->
      <div style="clear:both;">
        <div id="share_top2">
          <div class="sns">
            <ul class="type2 clearfix">
              <!--X（旧Twitter）ボタン-->
              <li class="x-twitter">
                <a href="https://x.com/intent/post?text={{ .Title | urlquery }}&url={{ .Permalink | urlquery }}&via=cube_unit" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=400,width=600');return false;">
                  <i class="fa-brands fa-x-twitter"></i><span class="ttl">Post</span><span class="share-count"></span>
                </a>
              </li>
              <!--Facebookボタン-->
              <li class="facebook">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | urlquery }}&amp;t={{ .Title | urlquery }}" class="facebook-btn-icon-link" target="_blank" rel="nofollow">
                  <i class="fa-brands fa-facebook-f"></i><span class="ttl">Share</span><span class="share-count"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /sns button top -->

      <div id="post_title" class="clearfix">
        <p class="post_date"><span class="date">{{ .Date.Format "1.2" }}</span><span class="month">{{ .Date.Format "2006" }}</span></p>
        <h2>{{ .Title }}</h2>
      </div>

      <div class="post clearfix">
        {{ .Content }}
      </div>

      <!-- index news -->
      <div id="index_news">
        <h3 class="headline1"><span>最近のお知らせ</span></h3>
        <ol class="clearfix">
          {{ range first 5 (where .Site.RegularPages "Section" "news") }}
          <li class="clearfix">
            <p class="date">{{ .Date.Format "2006/1/2" }}</p>
            <p class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></p>
          </li>
          {{ end }}
        </ol>
        <div class="index_archive_link"><a href="/news/">過去のお知らせ一覧</a></div>
      </div>
    </div>

    <div id="side_col">
      <div class="side_widget clearfix tcdw_product_list_widget" id="tcdw_product_list_widget-4">
        <h3 class="side_headline"><span>作品一覧</span></h3>
        <ol class="product_post_list">
          {{ range first 5 .Site.RegularPages.ByDate.Reverse }}
          {{ if eq .Section "product" }}
          <li class="clearfix">
            <a class="image" href="{{ .Permalink }}">
              {{ if .Params.image }}
              <img src="{{ .Params.image }}" alt="{{ .Title }}" title="{{ .Title }}" />
              {{ end }}
            </a>
            <div class="info">
              <a class="title" href="{{ .Permalink }}">{{ .Title }}</a>
            </div>
          </li>
          {{ end }}
          {{ end }}
        </ol>
      </div>
    </div>

  </div>
</div>
{{ end }}
