<a id="return_top" href="#header">ページ上部へ戻る</a>

<div id="copyright">
  <div id="copyright_inner" class="clearfix">
    <!-- global menu -->
    <div id="footer_menu" class="clearfix">
      <ul id="menu-footermenu" class="menu">
        <li class="menu-item menu-item-privacy-policy">
          <a rel="privacy-policy" href="/privacy-policy/">プライバシーポリシー</a>
        </li>
      </ul>
    </div>

    <!-- social button -->
    <ul class="user_sns clearfix" id="social_link">
      <li class="rss"><a class="target_blank" href="/index.xml"><i class="fa-solid fa-rss"></i><span>RSS</span></a></li>
      <li class="twitter"><a href="https://x.com/cube_unit" target="_blank"><i class="fa-brands fa-x-twitter"></i><span>X (Twitter)</span></a></li>
    </ul>

    <p>Copyright &copy;&nbsp; <a href="/">{{ .Site.Title }}</a></p>
  </div>
</div>
