<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
    <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">

    <!-- Open Graph -->
    <meta property="og:locale" content="ja_JP">
    <meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}">
    <meta property="og:title" content="{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}">
    <meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@cube_unit">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style_pc.css" media="screen and (min-width: 771px)">
    <link rel="stylesheet" href="/css/style_sp.css" media="screen and (max-width: 770px)">
    <link rel="stylesheet" href="/css/japanese.css">
    <link rel="stylesheet" href="/css/wordpress-blocks.css">
    <link rel="stylesheet" href="/css/flexslider.css">
    <link rel="stylesheet" href="/css/cookie-law-info-public.css">
    <link rel="stylesheet" href="/css/cookie-law-info-gdpr.css">

    <!-- Feed -->
    <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} RSS Feed" href="{{ .Site.BaseURL }}index.xml">

    {{ block "head" . }}{{ end }}
</head>
<body>
    {{ partial "header.html" . }}

    <main>
        {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}
    {{ partial "cookie-consent.html" . }}
    {{ partial "analytics.html" . }}

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/js/rollover.js"></script>
    <script src="/js/jscript.js"></script>
    <script src="/js/cookie-law-info-public.js"></script>

    {{ block "scripts" . }}{{ end }}
</body>
</html>
