{{ define "main" }}
<div id="main_contents_wrap">
  <div id="main_contents" class="clearfix">

    <!-- パンくずナビ -->
    <ul id="bread_crumb" class="clearfix" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="home">
        <a itemprop="item" href="/"><span itemprop="name">Home</span></a>
        <meta itemprop="position" content="1" />
      </li>
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="last">
        <span itemprop="name">{{ .Title }}</span>
        <meta itemprop="position" content="2" />
      </li>
    </ul>

    <div id="main_col">
      <h2 class="headline1"><span>{{ .Title }}</span></h2>

      {{ .Content }}

      <ol id="product_list" class="clearfix">
        <li class="clearfix">
          <a class="image" href="/product/clear-diary/"><img src="https://img.cube-unit.net/uploads/2024/07/ジャケット-600x600.jpg" alt="" title="" /></a>
          <h4 class="title"><a href="/product/clear-diary/">Clear Diary</a></h4>
        </li>
        <li class="clearfix">
          <a class="image" href="/product/selene/"><img src="https://img.cube-unit.net/uploads/2023/08/ジャケット-700-600x600.jpg" alt="" title="" /></a>
          <h4 class="title"><a href="/product/selene/">SELENE</a></h4>
        </li>
        <li class="clearfix">
          <a class="image" href="/product/bright-palette/"><img src="https://img.cube-unit.net/uploads/2021/11/ジャケット-600x600.jpg" alt="" title="" /></a>
          <h4 class="title"><a href="/product/bright-palette/">Bright Palette</a></h4>
        </li>
        <li class="clearfix">
          <a class="image" href="/product/event-horizon/"><img src="https://img.cube-unit.net/uploads/2019/07/ジャケット.jpg" alt="" title="" /></a>
          <h4 class="title"><a href="/product/event-horizon/">Event Horizon</a></h4>
        </li>
        <li class="clearfix">
          <a class="image" href="/product/mystic-pocket-watch/"><img src="https://img.cube-unit.net/uploads/2018/08/ジャケット.jpg" alt="" title="" /></a>
          <h4 class="title"><a href="/product/mystic-pocket-watch/">Mystic Pocket Watch</a></h4>
        </li>
        <li class="clearfix">
          <a class="image" href="/product/grace-of-faith/"><img src="https://img.cube-unit.net/uploads/2017/12/ジャケット.jpg" alt="" title="" /></a>
          <h4 class="title"><a href="/product/grace-of-faith/">GRACE OF FAITH</a></h4>
        </li>
        <li class="clearfix">
          <a class="image" href="/product/meets-by-oracle/"><img src="https://img.cube-unit.net/uploads/2017/12/jacket-600x600.jpg" alt="" title="" /></a>
          <h4 class="title"><a href="/product/meets-by-oracle/">Meets By Oracle</a></h4>
        </li>
        <li class="clearfix">
          <a class="image" href="/product/deep-down-utopia/"><img src="https://img.cube-unit.net/uploads/2016/12/ジャケット.jpg" alt="" title="" /></a>
          <h4 class="title"><a href="/product/deep-down-utopia/">Deep Down Utopia</a></h4>
        </li>
        <li class="clearfix">
          <a class="image" href="/product/connect/"><img src="https://img.cube-unit.net/uploads/2016/07/ジャケット.jpg" alt="" title="" /></a>
          <h4 class="title"><a href="/product/connect/">CONNECT</a></h4>
        </li>
        <li class="clearfix">
          <a class="image" href="/product/shooting-star/"><img src="https://img.cube-unit.net/uploads/2015/12/ジャケット.jpg" alt="" title="" /></a>
          <h4 class="title"><a href="/product/shooting-star/">Shooting Star</a></h4>
        </li>
        <li class="clearfix">
          <a class="image" href="/product/lilliput/"><img src="https://img.cube-unit.net/uploads/2015/04/ジャケット.jpg" alt="" title="" /></a>
          <h4 class="title"><a href="/product/lilliput/">LiLLiput</a></h4>
        </li>
        <li class="clearfix">
          <a class="image" href="/product/sisters-ring/"><img src="https://img.cube-unit.net/uploads/2015/04/ジャケット表Web掲載用.jpg" alt="" title="" /></a>
          <h4 class="title"><a href="/product/sisters-ring/">Sister's Ring</a></h4>
        </li>
        <li class="clearfix">
          <a class="image" href="/product/symphony-of-scarlet/"><img src="https://img.cube-unit.net/uploads/2015/04/Symphony-of-Scarlet1.jpg" alt="" title="" /></a>
          <h4 class="title"><a href="/product/symphony-of-scarlet/">Symphony of Scarlet</a></h4>
        </li>
      </ol>
    </div>

    <div id="side_col">
      <div class="side_widget clearfix tcdw_product_list_widget" id="tcdw_product_list_widget-4">
        <h3 class="side_headline"><span>作品一覧</span></h3>
        <ol class="product_post_list">
          <li class="clearfix">
            <a class="image" href="/product/clear-diary/"><img src="https://img.cube-unit.net/uploads/2024/07/ジャケット-72x72.jpg" alt="" title="" /></a>
            <div class="info">
              <a class="title" href="/product/clear-diary/">Clear Diary</a>
            </div>
          </li>
          <li class="clearfix">
            <a class="image" href="/product/selene/"><img src="https://img.cube-unit.net/uploads/2023/08/ジャケット-700-72x72.jpg" alt="" title="" /></a>
            <div class="info">
              <a class="title" href="/product/selene/">SELENE</a>
            </div>
          </li>
          <li class="clearfix">
            <a class="image" href="/product/bright-palette/"><img src="https://img.cube-unit.net/uploads/2021/11/ジャケット-72x72.jpg" alt="" title="" /></a>
            <div class="info">
              <a class="title" href="/product/bright-palette/">Bright Palette</a>
            </div>
          </li>
          <li class="clearfix">
            <a class="image" href="/product/event-horizon/"><img src="https://img.cube-unit.net/uploads/2019/07/ジャケット-72x72.jpg" alt="" title="" /></a>
            <div class="info">
              <a class="title" href="/product/event-horizon/">Event Horizon</a>
            </div>
          </li>
          <li class="clearfix">
            <a class="image" href="/product/mystic-pocket-watch/"><img src="https://img.cube-unit.net/uploads/2018/08/ジャケット-72x72.jpg" alt="" title="" /></a>
            <div class="info">
              <a class="title" href="/product/mystic-pocket-watch/">Mystic Pocket Watch</a>
            </div>
          </li>
        </ol>
      </div>
    </div>

  </div>
</div>
{{ end }}
