name: Web Deploy Production

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/pull-request.yaml
      - .github/workflows/web**
      - .github/workflows/wc-web**
      - web/**
      - aqua.yaml

concurrency:
  group: web-production # デプロイ先が1つしかないため repo 内で排他制御
  cancel-in-progress: false

jobs:
  check-need-deploy:
    environment: production

    runs-on: ubuntu-latest
    timeout-minutes: 10
    outputs:
      paths: ${{ steps.filter.outputs.paths }}
    permissions:
      pull-requests: read
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Filter paths
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          # 変更したファイルがいずれかにマッチすれば true
          filters: |
            paths:
              - 'web/**'

  web-build-and-deploy-production:
    needs:
      - check-need-deploy

    environment:
      name: production
      url: ${{ vars.BASE_URL }}

    permissions:
      id-token: write
      contents: read
      pull-requests: write
      actions: read # artifact を取得するために必要
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - id: app-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.5
        env:
          AQUA_GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@75d2e84710de30f6ff7268e08f310b60ef14033f # v3.0.0
        with:
          hugo-version: '0.123.7'

      - name: Build
        working-directory: web
        run: github-comment exec -k common -var env:Production -var title:"Build" -- hugo --minify
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

      - uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        if: needs.check-need-deploy.outputs.paths == 'true'
        with:
          role-to-assume: arn:aws:iam::158677943024:role/github_cube-unit.net_web_deploy_production
          aws-region: ap-northeast-1

      - name: Deploy
        if: needs.check-need-deploy.outputs.paths == 'true'
        working-directory: web
        run: github-comment exec -k deploy-to-s3 -var env:Production -- aws s3 sync --delete public ${{ vars.S3_URL }}
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

      - name: Purge Cache - Cloudfront
        if: needs.check-need-deploy.outputs.paths == 'true'
        run: aws cloudfront create-invalidation --distribution-id ${{vars.DISTRIBUTION_ID}} --paths "/*"

      - name: Purge Cache - Cloudflare
        if: needs.check-need-deploy.outputs.paths == 'true'
        uses: jakejarvis/cloudflare-purge-action@eee6dba0236093358f25bb1581bd615dc8b3d8e3 # v0.3.0
        env:
          CLOUDFLARE_ZONE: ${{ secrets.CLOUDFLARE_ZONE_ID }}
          CLOUDFLARE_TOKEN: ${{ secrets.CLOUDFLARE_CACHE_PURGE_API_TOKEN }}
          PURGE_URLS: '["${{ vars.BASE_URL }}", "${{ vars.BASE_URL }}/"]'

  success:
    needs: web-build-and-deploy-production

    environment: production

    if: ${{ !failure() }}

    runs-on: ubuntu-latest

    steps:
      - run: echo "Success!!"
